
body {
    padding-left: 15px;
    color:white;
}>
.h1{color:#FFA500;}

.h2{color:#FFA500; margin-left: 80px;}

.Administrirovanie
{
    margin-left: 80px;
}

.spisok_del{
        padding-left: 15px;
    color:white;
    margin:120px;
}