<html>
<head>
      <meta charset="utf-8">
<title>
Организации-партнеры
</title>
<style>
.button1 {
    background: navy;
    color: white;
    font-size: 9pt;
   }
   .h1{    font-size="5"  }
   .h2{    font-size:="5" }
   .h3{    font-size: 9pt; }
   .h4{    font-size: 9pt; }
   .h5{    font-size: 9pt; }
</style>
</head>
<body bgcolor="#B0E0E6">
<form>
<p><input type="button"   class="button1" value="На главную" ONCLICK="">
<h1><font size="5" color="black" face="Time new Roman">Наименование организации</font><Br>

   <textarea name="comment" cols="100" rows="3"></textarea></h1>

<h2><font size="5" color="black" face="Time new Roman">Функции  организациии в проекте</font><Br>

   <textarea name="comment" cols="100" rows="3"></textarea></h2>


 <p><input type="button" class="button1" value="Отправить"></p>
  <p> <input type="reset"  class="button1" value="Очистить"></p>

 </form>
</body>

</html>
