<html>
<head>
      <meta charset="utf-8">
<style>
.button1 {
    background: navy;
    color: white;
    font-size: 9pt;
   }
   .h1{    font-size="5"  }
   .h2{    font-size:="5" }
   .h3{    font-size: 9pt; }
   .h4{    font-size: 9pt; }
   .h5{    font-size: 9pt; }
</style>
<title>
Публичная презентация инновационной деятельности
</title>
</head>
<body bgcolor="#B0E0E6">
<form>
<p><input type="button"   class="button1" value="На главную" ONCLICK="file:///C:/Users/Dexp/Desktop/Заметки%20по%20ВКР/1.html">
 </p>
<h1><font size="5" color="black" face="Time new Roman">Мероприятие</font><Br>

   <textarea name="comment" cols="100" rows="3"></textarea></h1>

  <h2><font size="5" color="black" face="Time new Roman">Дата</font><Br>

   <textarea name="comment" cols="100" rows="3"></textarea></h2>
<br>

  <h3><font size="5" color="black" face="Time new Roman">Форма</font><Br>

   <textarea name="comment" cols="100" rows="3"></textarea></h3>

 <br>
<h4><font size="5" color="black" face="Time new Roman">Место</font><Br>

<textarea name="comment" cols="100" rows="3"></textarea></h4>

<br>


   <h5><font size="5" color="black" face="Time new Roman">Уровень</font><Br>

   <textarea name="comment" cols="100" rows="3"></textarea></h5>


 <p><input type="button" class="button1" value="Отправить"></p>
  <p> <input type="reset"  class="button1" value="Очистить"></p>
 </form>
</body>

</html>
